/* Top blue header bar */

nav {
  /* has to be overlayed on orange header */
  position: fixed;
  top: 0;
  /* the height on compass said 120 but 100 looks better */
  height: 100px;
  width: 100%;
  background-color: #4056A1; 
  color: #FFFFFF;
  /* can include 4 parts for padding - top right bottom left */
  padding: 0 1.5em;
  justify-content: space-between;
  display: flex;
}

#tweeter {
  font-family: 'Bungee', cursive;
  margin-top: 1em;
  font-size: 1.5em;
  margin-bottom: 0px;
}

nav span {
  font-family: 'Bungee', cursive;
  font-size: 1.5em;
}

.sideHeader {
  display: flex;
  flex-direction: column;
}

.sideHeaderText {
  margin-bottom: 0px;
}

/* Added animation to button */
.fa-angle-double-down{
  margin-left: 3em;
  margin-bottom: 0px;
  color: red;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  transform-origin: bottom;
  animation-name: bounce;
  animation-timing-function: ease;
}

/* hover effect for compose button */
.fa-angle-double-down:hover {
  color: yellow;
  animation-name: bounce;
  animation-timing-function: ease;
}

@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* scroll to top button that shows up when scrolling down */
#scrollToTopBtn {
  background-color: red;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
}