/* Top blue header bar */

nav {
  /* has to be overlayed on orange header */
  position: fixed;
  top: 0;
  /* the height on compass said 120 but 100 looks better */
  height: 100px;
  width: 100%;
  background-color: #4056A1; 
  color: #FFFFFF;
  /* can include 4 parts for padding - top right bottom left */
  padding: 0 1.5em;
  justify-content: space-between;
  display: flex;
  /* z-index: 10; */
}


nav span {
  font-family: 'Bungee', cursive;
  margin-top: 1em;
  font-size: 1.5em;
  margin-bottom: 0px;
}

.sideHeader {
  display: flex;
  flex-direction: column;
}

.sideHeaderText {
  margin-bottom: 0px;
} 
.fa-angle-double-down{
  margin-left: 3em;
  margin-bottom: 1em;
  color: red;
}

