/* in order of html for most part */
main {
  width: 90%;
  margin: auto;
}

.new-tweet {
  justify-content: space-between;
}

.enterBox {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

/* What are you humming about? */
label {
  font-weight: bold;
}

textarea {
  border-style: none; 
  background: none;
  border-bottom: solid;
  height: 40px;
  border-bottom-color: #545149;
}

.submitAndCounter {
  margin-top: 0.4em;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

button {
  background-color: #4056A1; 
  border-color: #4056A1;
  color: #FFFFFF;
}

/* extra addition */
button:hover {
  background-color: #556bb6;
  box-shadow: 4px 5px #888888;
}

/* from compose-char-count if statement */
.fontRed {
  color: red;
}
